body, html {
  background: black;
  color: white;
  font-family: Arial;
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: normal;
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: white;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

a, a:visited {
  color: skyblue;
}

input, select {
  border-radius: 2px;
  border: 1px solid grey;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 290px;
}

select {
  padding: 10px;
}

.view {
  margin-right: 50px;
}

.view form {
  margin-bottom: 20px;
}

.pad-container div {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}
.pad-container div div {
  background: white;
  height: 26px;
  margin-right: 13px;
  width: 26px; 
}

.pad-container .green {
  background: #00BA8C;
}

.count-container {
  align-items: baseline;
  display: block;
  position: relative;
}

.container {
  height: 100%;
}

.flex-container {
  display: flex; 
  justify-content: center;
}

.count {
  align-items: center;
  background: #F15A2B;
  display: flex;
  font-weight: bold;
  height: 26px;
  justify-content: center;
  position: absolute;
  width: 26px;
}

#1 {
  left: 70px
}

#record, #stop, #wav {
  background: darkred;
  border: 1px solid darkred;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 270px;
}

#record {
  background: red;
}

#wav {
  background: #F15A2B;
}

.hidden {
  display: none;
}

audio {
  margin-bottom: 20px;
  margin-top: 20px;
}

.recordContainer {
  margin-bottom: 20px;
}