body {
  background: black;  
}

#display {
  width: 90%; 
  margin: 0 auto;
}

.pad-container div {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}
.pad-container div div {
  background: grey;
  height: 50px;
  margin-right: 20px;
  width: 50px; 
}

.pad-container .red {
  background: red;
}

.count-container {
  align-items: baseline;
  display: block;
  position: relative;
}

.count {
  align-items: center;
  background: white;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  position: absolute;
  width: 50px;
}

#1 {
  left: 70px
}

#record, #stop, #wav {
  background: darkred;
  border: 1px solid darkred;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
  padding: 5px 20px;
  width: 100px;
}

#record {
  background: red;
}

#wav {
  background: #F15A2B;
}